<a href="https://colab.research.google.com/github/Venkat3103/R-Programming-Coursera/blob/main/Week_2_Programming_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [16]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [19]:
%%R
x <- 2
x

[1] 2

In [23]:
%%R
url = ('/content/drive/MyDrive/specdata/332.csv')
dataset = read.csv(url)
dataset

          Date sulfate nitrate  ID
1   2003-01-01      NA      NA 332
2   2003-01-02      NA      NA 332
3   2003-01-03      NA      NA 332
4   2003-01-04      NA      NA 332
5   2003-01-05      NA      NA 332
6   2003-01-06      NA      NA 332
7   2003-01-07      NA      NA 332
8   2003-01-08      NA      NA 332
9   2003-01-09      NA      NA 332
10  2003-01-10      NA      NA 332
11  2003-01-11      NA      NA 332
12  2003-01-12      NA      NA 332
13  2003-01-13      NA      NA 332
14  2003-01-14      NA      NA 332
15  2003-01-15      NA      NA 332
16  2003-01-16      NA      NA 332
17  2003-01-17      NA      NA 332
18  2003-01-18      NA      NA 332
19  2003-01-19      NA      NA 332
20  2003-01-20      NA      NA 332
21  2003-01-21      NA      NA 332
22  2003-01-22      NA      NA 332
23  2003-01-23      NA      NA 332
24  2003-01-24      NA      NA 332
25  2003-01-25      NA      NA 332
26  2003-01-26      NA      NA 332
27  2003-01-27      NA      NA 332
28  2003-01-28      NA      NA 332
29  2003-01-29      NA      NA 332
30  2003-01-30      NA      NA 332
31  2003-01-31      NA      NA 332
32  2003-02-01      NA      NA 332
33  2003-02-02      NA      NA 332
34  2003-02-03      NA      NA 332
35  2003-02-04      NA      NA 332
36  2003-02-05      NA      NA 332
37  2003-02-06      NA      NA 332
38  2003-02-07      NA      NA 332
39  2003-02-08      NA      NA 332
40  2003-02-09      NA      NA 332
41  2003-02-10      NA      NA 332
42  2003-02-11      NA      NA 332
43  2003-02-12      NA      NA 332
44  2003-02-13      NA      NA 332
45  2003-02-14      NA      NA 332
46  2003-02-15      NA      NA 332
47  2003-02-16      NA      NA 332
48  2003-02-17      NA      NA 332
49  2003-02-18      NA      NA 332
50  2003-02-19      NA      NA 332
51  2003-02-20      NA      NA 332
52  2003-02-21      NA      NA 332
53  2003-02-22      NA      NA 332
54  2003-02-23      NA      NA 332
55  2003-02-24      NA      NA 332
56  2003-02-25      NA      NA 332
57  2003-02-26      NA      NA 332
58  2003-02-27      NA      NA 332
59  2003-02-28      NA      NA 332
60  2003-03-01      NA      NA 332
61  2003-03-02      NA      NA 332
62  2003-03-03      NA      NA 332
63  2003-03-04      NA      NA 332
64  2003-03-05      NA      NA 332
65  2003-03-06      NA      NA 332
66  2003-03-07      NA      NA 332
67  2003-03-08      NA      NA 332
68  2003-03-09      NA      NA 332
69  2003-03-10      NA      NA 332
70  2003-03-11      NA      NA 332
71  2003-03-12      NA      NA 332
72  2003-03-13      NA      NA 332
73  2003-03-14      NA      NA 332
74  2003-03-15      NA      NA 332
75  2003-03-16      NA      NA 332
76  2003-03-17      NA      NA 332
77  2003-03-18      NA      NA 332
78  2003-03-19      NA      NA 332
79  2003-03-20      NA      NA 332
80  2003-03-21      NA      NA 332
81  2003-03-22      NA      NA 332
82  2003-03-23      NA      NA 332
83  2003-03-24      NA      NA 332
84  2003-03-25      NA      NA 332
85  2003-03-26      NA      NA 332
86  2003-03-27      NA      NA 332
87  2003-03-28      NA      NA 332
88  2003-03-29      NA      NA 332
89  2003-03-30      NA      NA 332
90  2003-03-31      NA      NA 332
91  2003-04-01      NA      NA 332
92  2003-04-02      NA      NA 332
93  2003-04-03      NA      NA 332
94  2003-04-04      NA      NA 332
95  2003-04-05      NA      NA 332
96  2003-04-06      NA      NA 332
97  2003-04-07      NA      NA 332
98  2003-04-08      NA      NA 332
99  2003-04-09      NA      NA 332
100 2003-04-10      NA      NA 332
101 2003-04-11      NA      NA 332
102 2003-04-12      NA      NA 332
103 2003-04-13      NA      NA 332
104 2003-04-14      NA      NA 332
105 2003-04-15      NA      NA 332
106 2003-04-16      NA      NA 332
107 2003-04-17      NA      NA 332
108 2003-04-18      NA      NA 332
109 2003-04-19      NA      NA 332
110 2003-04-20      NA      NA 332
111 2003-04-21      NA      NA 332
112 2003-04-22      NA      NA 332
113 2003-04-23      NA      NA 332
114 2003-04-24      NA      NA 332
115 2003-04-25      NA      NA 332
116 2003-04-26      NA      NA 332
117 2003-04-27      NA      NA 332
118 2003-04-28      NA      NA 332
119 2003-04-29      NA      NA 332
120 2003-04-30      NA      NA 332
121 2003-05-01      NA      NA 332
122 2003-05-02      NA      NA 332
123 2003-05-03      NA      NA 332
124 2003-05-04      NA      NA 332
125 2003-05-05      NA      NA 332
126 2003-05-06      NA      NA 332
127 2003-05-07      NA      NA 332
128 2003-05-08      NA      NA 332
129 2003-05-09      NA      NA 332
130 2003-05-10      NA      NA 332
131 2003-05-11      NA      NA 332
132 2003-05-12      NA      NA 332
133 2003-05-13      NA      NA 332
134 2003-05-14      NA      NA 332
135 2003-05-15      NA      NA 332
136 2003-05-16      NA      NA 332
137 2003-05-17      NA      NA 332
138 2003-05-18      NA      NA 332
139 2003-05-19      NA      NA 332
140 2003-05-20      NA      NA 332
141 2003-05-21      NA      NA 332
142 2003-05-22      NA      NA 332
143 2003-05-23      NA      NA 332
144 2003-05-24      NA      NA 332
145 2003-05-25      NA      NA 332
146 2003-05-26      NA      NA 332
147 2003-05-27      NA      NA 332
148 2003-05-28      NA      NA 332
149 2003-05-29      NA      NA 332
150 2003-05-30      NA      NA 332
151 2003-05-31      NA      NA 332
152 2003-06-01      NA      NA 332
153 2003-06-02      NA      NA 332
154 2003-06-03      NA      NA 332
155 2003-06-04      NA      NA 332
156 2003-06-05      NA      NA 332
157 2003-06-06      NA      NA 332
158 2003-06-07      NA      NA 332
159 2003-06-08      NA      NA 332
160 2003-06-09      NA      NA 332
161 2003-06-10      NA      NA 332
162 2003-06-11      NA      NA 332
163 2003-06-12      NA      NA 332
164 2003-06-13      NA      NA 332
165 2003-06-14      NA      NA 332
166 2003-06-15      NA      NA 332
167 2003-06-16      NA      NA 332
168 2003-06-17      NA      NA 332
169 2003-06-18      NA      NA 332
170 2003-06-19      NA      NA 332
171 2003-06-20      NA      NA 332
172 2003-06-21      NA      NA 332
173 2003-06-22      NA      NA 332
174 2003-06-23      NA      NA 332
175 2003-06-24      NA      NA 332
176 2003-06-25      NA      NA 332
177 2003-06-26      NA      NA 332
178 2003-06-27      NA      NA 332
179 2003-06-28      NA      NA 332
180 2003-06-29      NA      NA 332
181 2003-06-30      NA      NA 332
182 2003-07-01      NA      NA 332
183 2003-07-02      NA      NA 332
184 2003-07-03      NA      NA 332
185 2003-07-04      NA      NA 332
186 2003-07-05      NA      NA 332
187 2003-07-06      NA      NA 332
188 2003-07-07      NA      NA 332
189 2003-07-08      NA      NA 332
190 2003-07-09      NA      NA 332
191 2003-07-10      NA      NA 332
192 2003-07-11      NA      NA 332
193 2003-07-12      NA      NA 332
194 2003-07-13      NA      NA 332
195 2003-07-14      NA      NA 332
196 2003-07-15      NA      NA 332
197 2003-07-16      NA      NA 332
198 2003-07-17      NA      NA 332
199 2003-07-18      NA      NA 332
200 2003-07-19      NA      NA 332
201 2003-07-20      NA      NA 332
202 2003-07-21      NA      NA 332
203 2003-07-22      NA      NA 332
204 2003-07-23      NA      NA 332
205 2003-07-24      NA      NA 332
206 2003-07-25      NA      NA 332
207 2003-07-26      NA      NA 332
208 2003-07-27      NA      NA 332
209 2003-07-28      NA      NA 332
210 2003-07-29      NA      NA 332
211 2003-07-30      NA      NA 332
212 2003-07-31      NA      NA 332
213 2003-08-01      NA      NA 332
214 2003-08-02      NA      NA 332
215 2003-08-03      NA      NA 332
216 2003-08-04      NA      NA 332
217 2003-08-05      NA      NA 332
218 2003-08-06      NA      NA 332
219 2003-08-07      NA      NA 332
220 2003-08-08      NA      NA 332
221 2003-08-09      NA      NA 332
222 2003-08-10      NA      NA 332
223 2003-08-11      NA      NA 332
224 2003-08-12      NA      NA 332
225 2003-08-13      NA      NA 332
226 2003-08-14      NA      NA 332
227 2003-08-15      NA      NA 332
228 2003-08-16      NA      NA 332
229 2003-08-17      NA      NA 332
230 2003-08-18      NA      NA 332
231 2003-08-19      NA      NA 332
232 2003-08-20      NA      NA 332
233 2003-08-21      NA      NA 332
234 2003-08-22      NA      NA 332
235 2003-08-23      NA      NA 332
236 2003-08-24      NA      NA 332
237 2003-08-25      NA      NA 332
238 2003-08-26      NA      NA 332
239 2003-08-27      NA      NA 332
240 2003-08-28      NA      NA 332
241 2003-08-29      NA      NA 332
242 2003-08-30      NA      NA 332
243 2003-08-31      NA      NA 332
244 2003-09-01      NA      NA 332
245 2003-09-02      NA      NA 332
246 2003-09-03      NA      NA 332
247 2003-09-04      NA      NA 332
248 2003-09-05      NA      NA 332
249 2003-09-06      NA      NA 332
250 2003-09-07      NA      NA 332
251 2003-09-08      NA      NA 332
252 2003-09-09      NA      NA 332
253 2003-09-10      NA      NA 332
254 2003-09-11      NA      NA 332
255 2003-09-12      NA      NA 332
256 2003-09-13      NA      NA 332
257 2003-09-14      NA      NA 332
258 2003-09-15      NA      NA 332
259 2003-09-16      NA      NA 332
260 2003-09-17      NA      NA 332
261 2003-09-18      NA      NA 332
262 2003-09-19      NA      NA 332
263 2003-09-20      NA      NA 332
264 2003-09-21      NA      NA 332
265 2003-09-22      NA      NA 332
266 2003-09-23      NA      NA 332
267 2003-09-24      NA      NA 332
268 2003-09-25      NA      NA 332
269 2003-09-26      NA      NA 332
270 2003-09-27      NA      NA 332
271 2003-09-28      NA      NA 332
272 2003-09-29      NA      NA 332
273 2003-09-30      NA      NA 332
274 2003-10-01      NA      NA 332
275 2003-10-02      NA      NA 332
276 2003-10-03      NA      NA 332
277 2003-10-04      NA      NA 332
278 2003-10-05      NA      NA 332
279 2003-10-06      NA      NA 332
280 2003-10-07      NA      NA 332
281 2003-10-08      NA      NA 332
282 2003-10-09      NA      NA 332
283 2003-10-10      NA      NA 332
284 2003-10-11      NA      NA 332
285 2003-10-12      NA      NA 332
286 2003-10-13      NA      NA 332
287 2003-10-14      NA      NA 332
288 2003-10-15      NA      NA 332
289 2003-10-16      NA      NA 332
290 2003-10-17      NA      NA 332
291 2003-10-18      NA      NA 332
292 2003-10-19      NA      NA 332
293 2003-10-20      NA      NA 332
294 2003-10-21      NA      NA 332
295 2003-10-22      NA      NA 332
296 2003-10-23      NA      NA 332
297 2003-10-24      NA      NA 332
298 2003-10-25      NA      NA 332
299 2003-10-26      NA      NA 332
300 2003-10-27      NA      NA 332
301 2003-10-28      NA      NA 332
302 2003-10-29      NA      NA 332
303 2003-10-30      NA      NA 332
304 2003-10-31      NA      NA 332
305 2003-11-01      NA      NA 332
306 2003-11-02      NA      NA 332
307 2003-11-03      NA      NA 332
308 2003-11-04      NA      NA 332
309 2003-11-05   1.470   0.159 332
310 2003-11-06      NA      NA 332
311 2003-11-07      NA      NA 332
312 2003-11-08      NA      NA 332
313 2003-11-09      NA      NA 332
314 2003-11-10      NA      NA 332
315 2003-11-11   0.632   0.152 332
316 2003-11-12      NA      NA 332
317 2003-11-13      NA      NA 332
318 2003-11-14      NA      NA 332
319 2003-11-15      NA      NA 332
320 2003-11-16      NA      NA 332
321 2003-11-17      NA      NA 332
322 2003-11-18   0.802   0.204 332
323 2003-11-19      NA      NA 332
324 2003-11-20      NA      NA 332
325 2003-11-21      NA      NA 332
326 2003-11-22      NA      NA 332
327 2003-11-23   0.764   0.206 332
328 2003-11-24      NA      NA 332
329 2003-11-25      NA      NA 332
330 2003-11-26      NA      NA 332
331 2003-11-27      NA      NA 332
332 2003-11-28      NA      NA 332
333 2003-11-29      NA      NA 332
334 2003-11-30      NA      NA 332
335 2003-12-01      NA      NA 332
336 2003-12-02      NA      NA 332
337 2003-12-03      NA      NA 332
338 2003-12-04      NA      NA 332
339 2003-12-05      NA      NA 332
340 2003-12-06      NA      NA 332
341 2003-12-07      NA      NA 332
342 2003-12-08      NA      NA 332
343 2003-12-09      NA      NA 332
344 2003-12-10      NA      NA 332
345 2003-12-11      NA      NA 332
346 2003-12-12      NA      NA 332
347 2003-12-13      NA      NA 332
348 2003-12-14      NA      NA 332
349 2003-12-15      NA      NA 332
350 2003-12-16      NA      NA 332
351 2003-12-17   0.876   0.162 332
352 2003-12-18      NA      NA 332
353 2003-12-19      NA      NA 332
354 2003-12-20      NA      NA 332
355 2003-12-21      NA      NA 332
356 2003-12-22      NA      NA 332
357 2003-12-23   1.470   0.142 332
358 2003-12-24      NA      NA 332
359 2003-12-25      NA      NA 332
360 2003-12-26      NA      NA 332
361 2003-12-27      NA      NA 332
362 2003-12-28      NA      NA 332
363 2003-12-29      NA      NA 332
364 2003-12-30      NA      NA 332
365 2003-12-31      NA      NA 332
366 2004-01-01      NA      NA 332
367 2004-01-02      NA      NA 332
368 2004-01-03      NA      NA 332
369 2004-01-04      NA      NA 332
370 2004-01-05      NA      NA 332
371 2004-01-06      NA      NA 332
372 2004-01-07      NA      NA 332
373 2004-01-08      NA      NA 332
374 2004-01-09      NA      NA 332
375 2004-01-10      NA      NA 332
376 2004-01-11      NA      NA 332
377 2004-01-12      NA      NA 332
378 2004-01-13      NA      NA 332
379 2004-01-14      NA      NA 332
380 2004-01-15      NA      NA 332
381 2004-01-16      NA      NA 332
382 2004-01-17      NA      NA 332
383 2004-01-18      NA      NA 332
384 2004-01-19      NA      NA 332
385 2004-01-20      NA      NA 332
386 2004-01-21      NA      NA 332
387 2004-01-22      NA      NA 332
388 2004-01-23      NA      NA 332
389 2004-01-24      NA      NA 332
390 2004-01-25      NA      NA 332
391 2004-01-26   0.980   0.178 332
392 2004-01-27   0.725   0.164 332
393 2004-01-28      NA      NA 332
394 2004-01-29      NA      NA 332
395 2004-01-30      NA      NA 332
396 2004-01-31      NA      NA 332
397 2004-02-01      NA      NA 332
398 2004-02-02      NA      NA 332
399 2004-02-03   0.468   0.125 332
400 2004-02-04      NA      NA 332
401 2004-02-05      NA      NA 332
402 2004-02-06      NA      NA 332
403 2004-02-07      NA      NA 332
404 2004-02-08      NA      NA 332
405 2004-02-09      NA      NA 332
406 2004-02-10      NA      NA 332
407 2004-02-11      NA      NA 332
408 2004-02-12      NA      NA 332
409 2004-02-13      NA      NA 332
410 2004-02-14   0.485   0.291 332
411 2004-02-15      NA      NA 332
412 2004-02-16      NA      NA 332
413 2004-02-17      NA      NA 332
414 2004-02-18      NA      NA 332
415 2004-02-19      NA      NA 332
416 2004-02-20      NA      NA 332
417 2004-02-21      NA      NA 332
418 2004-02-22      NA      NA 332
419 2004-02-23      NA      NA 332
420 2004-02-24      NA      NA 332
421 2004-02-25      NA      NA 332
422 2004-02-26      NA      NA 332
423 2004-02-27   1.910   0.170 332
424 2004-02-28      NA      NA 332
425 2004-02-29      NA      NA 332
426 2004-03-01      NA      NA 332
427 2004-03-02      NA      NA 332
428 2004-03-03      NA      NA 332
429 2004-03-04      NA      NA 332
430 2004-03-05      NA      NA 332
431 2004-03-06      NA      NA 332
432 2004-03-07      NA      NA 332
433 2004-03-08      NA      NA 332
434 2004-03-09      NA      NA 332
435 2004-03-10      NA      NA 332
436 2004-03-11      NA      NA 332
437 2004-03-12      NA      NA 332
438 2004-03-13      NA      NA 332
439 2004-03-14      NA      NA 332
440 2004-03-15      NA      NA 332
441 2004-03-16      NA      NA 332
442 2004-03-17      NA      NA 332
443 2004-03-18      NA      NA 332
444 2004-03-19      NA      NA 332
445 2004-03-20      NA      NA 332
446 2004-03-21      NA      NA 332
447 2004-03-22      NA   0.158 332
448 2004-03-23      NA      NA 332
449 2004-03-24      NA      NA 332
450 2004-03-25      NA      NA 332
451 2004-03-26      NA      NA 332
452 2004-03-27      NA      NA 332
453 2004-03-28      NA      NA 332
454 2004-03-29      NA      NA 332
455 2004-03-30      NA      NA 332
456 2004-03-31      NA      NA 332
457 2004-04-01      NA      NA 332
458 2004-04-02      NA      NA 332
459 2004-04-03      NA      NA 332
460 2004-04-04      NA      NA 332
461 2004-04-05      NA      NA 332
462 2004-04-06      NA      NA 332
463 2004-04-07      NA      NA 332
464 2004-04-08      NA      NA 332
465 2004-04-09   2.940   0.150 332
466 2004-04-10      NA      NA 332
467 2004-04-11      NA      NA 332
468 2004-04-12      NA      NA 332
469 2004-04-13      NA      NA 332
470 2004-04-14      NA      NA 332
471 2004-04-15      NA   0.139 332
472 2004-04-16      NA      NA 332
473 2004-04-17      NA      NA 332
474 2004-04-18      NA      NA 332
475 2004-04-19      NA      NA 332
476 2004-04-20      NA      NA 332
477 2004-04-21      NA      NA 332
478 2004-04-22      NA      NA 332
479 2004-04-23      NA      NA 332
480 2004-04-24      NA      NA 332
481 2004-04-25      NA      NA 332
482 2004-04-26      NA      NA 332
483 2004-04-27      NA      NA 332
484 2004-04-28      NA      NA 332
485 2004-04-29      NA      NA 332
486 2004-04-30      NA      NA 332
487 2004-05-01      NA      NA 332
488 2004-05-02      NA      NA 332
489 2004-05-03      NA      NA 332
490 2004-05-04      NA      NA 332
491 2004-05-05      NA      NA 332
492 2004-05-06      NA      NA 332
493 2004-05-07      NA      NA 332
494 2004-05-08      NA      NA 332
495 2004-05-09      NA      NA 332
496 2004-05-10      NA      NA 332
497 2004-05-11      NA      NA 332
498 2004-05-12      NA      NA 332
499 2004-05-13      NA      NA 332
500 2004-05-14      NA      NA 332
501 2004-05-15      NA      NA 332
502 2004-05-16      NA      NA 332
503 2004-05-17      NA      NA 332
504 2004-05-18   1.560   0.255 332
505 2004-05-19      NA      NA 332
506 2004-05-20      NA      NA 332
507 2004-05-21      NA      NA 332
508 2004-05-22      NA      NA 332
509 2004-05-23      NA      NA 332
510 2004-05-24      NA      NA 332
511 2004-05-25      NA      NA 332
512 2004-05-26      NA      NA 332
513 2004-05-27      NA      NA 332
514 2004-05-28      NA      NA 332
515 2004-05-29      NA      NA 332
516 2004-05-30      NA      NA 332
517 2004-05-31      NA      NA 332
518 2004-06-01      NA      NA 332
519 2004-06-02      NA      NA 332
520 2004-06-03      NA      NA 332
521 2004-06-04      NA      NA 332
522 2004-06-05      NA      NA 332
523 2004-06-06      NA      NA 332
524 2004-06-07      NA      NA 332
525 2004-06-08      NA      NA 332
526 2004-06-09      NA      NA 332
527 2004-06-10      NA      NA 332
528 2004-06-11      NA      NA 332
529 2004-06-12      NA      NA 332
530 2004-06-13      NA      NA 332
531 2004-06-14      NA      NA 332
532 2004-06-15      NA      NA 332
533 2004-06-16      NA      NA 332
534 2004-06-17      NA      NA 332
535 2004-06-18      NA      NA 332
536 2004-06-19      NA      NA 332
537 2004-06-20      NA      NA 332
538 2004-06-21      NA      NA 332
539 2004-06-22      NA      NA 332
540 2004-06-23      NA      NA 332
541 2004-06-24      NA      NA 332
542 2004-06-25      NA      NA 332
543 2004-06-26      NA      NA 332
544 2004-06-27      NA      NA 332
545 2004-06-28      NA      NA 332
546 2004-06-29      NA      NA 332
547 2004-06-30      NA      NA 332
548 2004-07-01      NA      NA 332
549 2004-07-02      NA      NA 332
550 2004-07-03      NA      NA 332
551 2004-07-04      NA      NA 332
552 2004-07-05      NA      NA 332
553 2004-07-06      NA      NA 332
554 2004-07-07      NA      NA 332
555 2004-07-08      NA      NA 332
556 2004-07-09      NA      NA 332
557 2004-07-10      NA      NA 332
558 2004-07-11      NA      NA 332
559 2004-07-12      NA      NA 332
560 2004-07-13      NA      NA 332
561 2004-07-14      NA      NA 332
562 2004-07-15      NA      NA 332
563 2004-07-16      NA      NA 332
564 2004-07-17      NA      NA 332
565 2004-07-18      NA      NA 332
566 2004-07-19      NA      NA 332
567 2004-07-20      NA      NA 332
568 2004-07-21      NA      NA 332
569 2004-07-22      NA      NA 332
570 2004-07-23      NA      NA 332

In [25]:
%%R
pollutantmean <- function(directory,pollutant, id = 1:332){
filenames <- list.files(path=directory, pattern="*.csv")
        
        ## Initialize a vector to hold values
        vals <- vector()

        ## Loop over the passed id's
		for(i in id) {

            ## Pad the i to create a filename
            filename <- sprintf("%03d.csv", i)
            filepath <- paste(directory, filename, sep="/")

            ## Load the data
			data <- read.csv(filepath)

            ## Select our column
            d <- data[,pollutant]

            ## Ignore NAs
			d <- d[!is.na(d)]

            ## append to our vector
            vals <- c(vals, d)
		}

        ## Return the value rounded to 3 dec places
		round(mean(vals), 3)
}

In [27]:
%%R
pollutantmean("/content/drive/MyDrive/specdata/", "nitrate", 12)

[1] 1.081

In [29]:
%%R
complete <- function(directory, id = 1:332) {

    ## Get a list of filenames
    filenames <- list.files(path=directory, pattern="*.csv")

    ## Initialize variables
    ids <-vector()
    counts = vector()

    ## Loop over the passed id's
    for(i in id) {

        ## Pad the i to create a filename
        filename <- sprintf("%03d.csv", i)
        filepath <- paste(directory, filename, sep="/")

        ## Load the data
        data <- read.csv(filepath)

        ## Store the id
        ids <- c(ids, i)

        ## Calculate and store the count of complete cases
        completeCases <- data[complete.cases(data),]
        counts <- c(counts, nrow(completeCases))
    }

    ## Return the data frame
    data.frame(id=ids, nobs=counts)
}

In [30]:
%%R
corr <- function(directory, threshold = 0) {

    completes <- complete(directory, 1:332)
    completes <- subset(completes, nobs > threshold )

    ## Initialize variables
    correlations <- vector()

    ## Loop over the passed id's
    for(i in completes$id ) {

        ## Pad the i to create a filename
        filename <- sprintf("%03d.csv", i)
        filepath <- paste(directory, filename, sep="/")

        ## Load the data
        data <- read.csv(filepath)

        ## Calculate and store the count of complete cases
        completeCases <- data[complete.cases(data),]
        count <- nrow(completeCases)

        ## Calculate and store the count of complete cases
        ## if threshhold is reached
        if( count >= threshold ) {
            correlations <- c(correlations, cor(completeCases$nitrate, completeCases$sulfate) )
        }
    }

    ## Return a numeric vector of correlations
    correlations
}

In [31]:
%%R
pollutantmean("/content/drive/MyDrive/specdata/", "sulfate", 1:10)

[1] 4.064

In [32]:
%%R
pollutantmean("/content/drive/MyDrive/specdata/", "nitrate", 70:72)

[1] 1.706

In [33]:
%%R
pollutantmean("/content/drive/MyDrive/specdata/", "sulfate", 34)

[1] 1.477

In [37]:
%%R
pollutantmean("/content/drive/MyDrive/specdata/", "nitrate")

[1] 1.703

In [36]:
%%R
cc <- complete("/content/drive/MyDrive/specdata/", c(6, 10, 20, 34, 100, 200, 310))
print(cc$nobs)

[1] 228 148 124 165 104 460 232

In [38]:
%%R
cc <- complete("/content/drive/MyDrive/specdata/", 54)
print(cc$nobs)

[1] 219

In [40]:
%%R
RNGversion("3.5.1")  
set.seed(42)
cc <- complete("/content/drive/MyDrive/specdata/", 332:1)
use <- sample(332, 10)
print(cc[use, "nobs"])

 [1] 711 135  74 445 178  73  49   0 687 237

In [41]:
%%R
cr <- corr("/content/drive/MyDrive/specdata/")                
cr <- sort(cr)   
RNGversion("3.5.1")
set.seed(868)                
out <- round(cr[sample(length(cr), 5)], 4)
print(out)

[1]  0.2688  0.1127 -0.0085  0.4586  0.0447

In [42]:
%%R
cr <- corr("/content/drive/MyDrive/specdata/", 129)                
cr <- sort(cr)                
n <- length(cr)    
RNGversion("3.5.1")
set.seed(197)                
out <- c(n, round(cr[sample(n, 5)], 4))
print(out)

[1] 243.0000   0.2540   0.0504  -0.1462  -0.1680   0.5969

In [43]:
%%R
cr <- corr("/content/drive/MyDrive/specdata/", 2000)                
n <- length(cr)                
cr <- corr("/content/drive/MyDrive/specdata/", 1000)                
cr <- sort(cr)
print(c(n, round(cr, 4)))

[1]  0.0000 -0.0190  0.0419  0.1901